.card {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye las tarjetas de manera uniforme en la fila */
}

.card img{
    height: 250px;
}

.main-section {
    background-image: url('../img/img-main.jpeg');
    background-size: cover; /* La imagen cubrirá todo el ancho y largo */
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}
